h1{
  color:rgba(170,10,50,.8);
  /* border-color:blue;
  border-width:5px;
  border-style:solid; */
  border:blue 5px solid
}
h3{
  background: rgb(255,100,80);
}
body{
  background: pink;
  /* background: url(https://cdn.shopify.com/s/files/1/0241/9661/products/WoodGrain_5x5_web.jpg?v=1413867333);
  background-repeat: no-repeat;
  background-size: cover;  */
}
